.counter {
  display: flex;
  align-items: center;

  .count {
    min-width: 100px;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    margin: 0;
  }

  button {
    appearance: none;
    border: none;
    height: 4rem;
    width: 4rem;
    background-color: transparent;
    border: solid 4px #333;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
  }
}
